html {
    scroll-behavior: smooth;
}
.table-title {
    font-size: 1.2rem;
}
.table-title,
.form-container,
table.table {
    max-width: 95%;
    margin: auto;
}
table.table th,
table.table td {
    padding: 0.6rem 0.5rem;
}