html {
    scroll-behavior: smooth;
}
.table-title {
    font-size: 1.2rem;
}
.table-title p:hover {
    cursor: pointer;
}
.table-title,
.form-container,
.table-content {
    max-width: 95%;
    margin: auto;
}
table.table th,
table.table td {
    padding: 0.6rem 0.5rem;
}
.back-to-top {
    position: fixed;
    right: 8%;
    bottom: 6%;
    opacity: 0.2;
    display: none;
}
table.table td .time-info {
    color: #FFFFFF;
    background: rgb(0, 0, 0, 0.6);
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    display: none;
}
table.table td.expense-note:focus-within .time-info {
    display: block;
}